@model IEnumerable<UsersCrudApp.WebUI.Models.UserModel>

@{
    /**/

    ViewBag.Title = "Employee";
    var alert = TempData["alert"] as UsersCrudApp.WebUI.Models.AlertModel;

}


<div class="card text-white bg-primary ">
    <div class="card-header">
        Employee Managment
        <button class="btn btn-primary btn-add"><span class="glyphicon glyphicon-plus"></span> Add</button>

    </div>
</div>
<hr />
@if (alert != null)
{

    <div class="alert alert-@alert.cssClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @alert.Message
    </div>
}
<hr />
<div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.About)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CNIC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.About)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td data-id="@item.Id">
                        <button class="btn btn-xs btn-warning btn-update">Update</button>
                        <button class="btn btn-xs btn-danger btn-remove">Remove</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts{
    <script>
        $(function () {
            $('.btn-add').click(function () {
                $('#m1').modal();
                // process the form
                $.ajax({
                    type: 'GET',
                    url: "/Employee/Add",
                    success: function (data) {
                        $("#myModal .modal-title ").text("Add New User");
                        $("#myModal .modal-body").html(data);
                        $("#myModal").modal();
                    }
                })
                    .done(function (data) {
                        // do some logging here
                    });
            });

            $('.btn-update').click(function () {
                var id = $(this).parent().data('id');
                $.ajax({
                    type: 'GET',
                    url: '/Employee/Update/' + id,
                    success: function (data) {
                        $("#myModal .modal-title ").text("Update");
                        $("#myModal .modal-body").html(data);
                        $("#myModal").modal();
                    }
                })
            });
            $('.btn-remove').click(function () {
                var id = $(this).parent().data('id');
                var name = $(this).parent().prev().prev().prev().prev().prev().prev().text();
                $("#myModal .modal-title ").text("Remove " + name + " ?");
                $("#myModal .modal-body").html('<center><a type="button"  href="' + "/Employee/Remove/" + id + '" class="btn btn-md btn-danger btn-remove-confirm">Yes<a/> <button type="button" class="btn btn-dark" data-dismiss="modal">No</button></center>'
                );
                $("#myModal").modal();

            });
        });
    </script>
}